* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(2, 36, 131);
}

.App {
  display: flex;
  width: 95vw;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 48;
  font-size: 1.25rem;
  cursor: pointer;
}
