.modalBg {
  width: 100vw;
  height: 100vh;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}

.modal {
  width: 30rem;
  height: fit-content;
  background-color: rgb(114, 114, 114);
  margin: 10vh auto;
  padding: 1rem;
  border-radius: 10px;
  position: relative;
}
